
    <a href="#start" class="gototop"><i class="fa fa-arrow-up"></i></a>
    <div class="container footer">
        <div class="row">
            <div class="col-12">    
                <span class="title sm-12 lg-4 md 6">Copyright &copy; 2022 | Muhammad Rizwan (F2018266288)</span>
                <div class="right">
                    <a href="/">Home</a>
                    &nbsp;-&nbsp;
                    <a href="/admin">Admin</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>