<%- include('../partials/header'); %>
<div class="container">
    <div class="row divt">
        <div class="col-12" style="text-align: center;">
            <span><%= data.title %></span>
        </div>
    </div>
    <div class="col-12 single-post">
        <div class="description"><%= data.desc %></div>
    </div><br><br>
    <div class="col-12">
        <a href="/">Go Back</a>
    </div><br>
</div>
<%- include('../partials/footer'); %>
